@import "variables";
@import "composent/bouton";
@import "composent/breackpoints";
@import "composent/grid";
@import "composent/media";

body{
    background-color: $primary;
}


.button{
    background: $background_color_button_primary;
    color: $color_texte_button;
    font-size: $big_button;
    border: $border_button;
    border-radius: $border_radius_button;
    padding: $padding_button;

    &--petit{
        background-color: $background_color_button_secondary;
        font-size: $small_button;
        border-radius: $border_radius_button;
    }
}

@mixin grid-flex($cols: $number_column, $gutter: $width_column, $prefix: col) {
    .container-cols .row {
      display: $display;
      gap: $gutter; 
    }
  
    @for $i from 1 through $cols {
      .#{$prefix}-#{$i} {
        $witdth: calc(100% / $cols) * $i;
        flex-basis: $witdth;
        box-sizing: $box-sizing;
      }
    }
  }
  
  /* MIXIN DEMO */
  @include grid-flex();

  .item {
    background-color: #666;
    text-align: center;
    padding: 10px 3px;
    margin: 3px 0;
    border: 1px solid #ccc;
  }
  