@import "variables";
@import "composent/bouton";
@import "composent/breackpoints";
@import "media";
@import "composent/grid";

body{
    background-color: $primary;
}


.button{
    background: $background_color_button_primary;
    color: $color_texte_button;
    font-size: $big_button;
    border: $border_button;
    border-radius: $border_radius_button;
    padding: $padding_button;

    &--petit{
        background-color: $background_color_button_secondary;
        font-size: $small_button;
        border-radius: $border_radius_button;
    }
}