// couleur taille bordures radius marges
$color_texte_button: #fff;
$small_button: 10px;
$big_button: 24px;
$border_button: 3px solid black;
$border_radius_button: 6px;
$padding_button: 6px 12px;
