//  --> carte de profile
// taille
$size_image_card: 18rem;
// couleur d'arrière plan 
$background_color_card: white;
// couleur du texte
$text_color_card:black;
// taille du nom et du prénom
$size_profile_name_card: 24px;
// couleur de la bordure
$border_color_card: 1px solid black;
//couleur de l'ombrage
$box-shadow_card: 0 5px 10px white;