//  --> carte de profile
$size_image_card: 18rem; // taille
$background_color_card: white; // couleur d'arrière plan
$text_color_card:black; // couleur du texte
$size_profile_name_card: 24px; // taille du nom et du prénom
$border_color_card: 1px solid black; // couleur de la bordure
$box-shadow_card: 0 5px 10px white; //couleur de l'ombrage